<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="container my-5">
  <div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 40px);">
    <div class="card p-2" style="width: 800px; max-width: 100%; background-color: #f5f5f5;">
      <div class="container">
       
        <div class="container my-5 d-flex flex-column min-vh-100">
          <h2 class="mb-4">Cadastro/Edição de Usuários</h2>
          <h3>Dados Pessoais</h3>
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
              <div class="invalid-feedback">
                O nome é obrigatório.
              </div>
            </div>

            <div class="form-group">
              <label for="genero">Gênero:</label>
              <select class="form-control" id="genero" formControlName="genero">
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
              </select>
            </div>

            <div class="form-group">
              <label for="cpf">CPF:</label>
              <input type="text" class="form-control" id="cpf" placeholder="CPF" formControlName="cpf">
              <div class="invalid-feedback">
                O CPF é obrigatório e deve estar no formato 000.000.000-00.
              </div>
            </div>

            <div class="form-group">
              <label for="telefone">Telefone:</label>
              <input type="text" class="form-control" id="telefone" placeholder="Telefone" formControlName="telefone">
              <div class="invalid-feedback">
                O telefone é obrigatório nesse fomato (00)00000-0000.
              </div>
            </div>

            <div class="form-group">
              <label for="email">E-mail:</label>
              <input type="email" class="form-control" id="email" placeholder="E-mail" formControlName="email">
              <div class="invalid-feedback">
                O e-mail é obrigatório e deve estar no formato xxxx@xxxx.com.
              </div>
            </div>

            <div class="form-group">
              <label for="Tipo">Tipo:</label>
              <select class="form-control" id="Tipo" formControlName="tipo">
                <option value=""></option>
                <option value="Administrador">Administrador</option>
                <option value="Pedagogo">Pedagogo</option>
                <option value="Aluno">Aluno</option>
                <option value="Professor">Professor</option>
              </select>
            </div>
            <br>
            <h3>Endereço</h3>

            <div class="form-group">
              <label for="cep">CEP:</label>
              <input type="text" class="form-control" id="cep" placeholder="CEP" formControlName="cep">
              <div class="invalid-feedback">
                O telefone é obrigatório nesse fomato 00000-000.
              </div>
            </div>

            <div class="form-group">
              <label for="cidade">Cidade:</label>
              <input type="text" class="form-control" id="cidade" placeholder="Cidade" formControlName="cidade">
            </div>

            <div class="form-group">
              <label for="estado">Estado:</label>
              <select class="form-control" id="estado" formControlName="estado">
                <option value="Estado">Estado</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
              </select>
            </div>

            <div class="form-group">
              <label for="logradouro">Logradouro:</label>
              <input type="text" class="form-control" id="logradouro" placeholder="Logradouro"
                formControlName="logradouro">
            </div>

            <div class="form-group">
              <label for="numero">Número:</label>
              <input type="text" class="form-control" id="numero" placeholder="Número" formControlName="numero">
            </div>

            <div class="form-group">
              <label for="complemento">Complemento:</label>
              <input type="text" class="form-control" id="complemento" placeholder="Complemento"
                formControlName="complemento">
            </div>

            <div class="form-group">
              <label for="bairro">Bairro:</label>
              <input type="text" class="form-control" id="bairro" placeholder="Bairro" formControlName="bairro">
            </div>

            <div class="form-group">
              <label for="referencia">Ponto de Referência:</label>
              <input type="text" class="form-control" id="referencia" placeholder="Ponto de Referência"
                formControlName="referencia">
            </div>
            <br>
            <h3>Outras Informações</h3>
            <div class="form-group">
              <label for="status">Status do Sistema:</label>
              <select class="form-control" id="status" formControlName="status">
                <option [value]="true">Ativo</option>
                <option [value]="false">Inativo</option>
            </select>
            
            </div>

            <div class="form-group">
              <label for="matricula">Matrícula (apenas para Alunos):</label>
              <input type="number" class="form-control" id="matricula" placeholder="Matrícula"
                formControlName="matricula">
            </div>

            <div class="form-group">
              <label for="codigoRegistro">Código de Registro para Professor (apenas para Professores):</label>
              <input type="number" class="form-control" id="codigoRegistro" placeholder="Código de Registro"
                formControlName="codigoRegistro">
            </div>

            <div class="form-group">
              <label for="whiteLabelId">White Label ID:</label>
              <input type="number" class="form-control" id="whiteLabelId" placeholder="White Label ID" formControlName="whiteLabelId">
              <div class="invalid-feedback">
                White Label ID é obrigatório.
              </div>
            </div>
            

            <div class="form-group">
              <label for="password" class="form-label">Senha</label>
              <input type="password" class="form-control" id="password" formControlName="senha">
              <div class="invalid-feedback">
                A senha é obrigatória e deve conter no mínimo 6 caracteres.
              </div>
            </div>
            <button type="submit" class="btn btn-info  mx-2 my-2"><i class="fas fa-save"></i> Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>