<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="container my-5">
    <div class="row justify-content-center">
      <!-- Card 1: Nome da Empresa -->
      <div class="col-md-4 mb-4">
        <div class="card rounded shadow" style="width: 300px; height: 350px;">
          <div class="card-header">
            <h5 class="card-title mb-0">Nome da Empresa</h5>
          </div>
          <div class="card-body d-flex flex-column text-center">
            <!-- Conteúdo -->
            <!-- <p class="card-text">Nome da Empresa atual: {{ companyName }}</p> -->
            <button class="btn btn-info mt-auto">Editar</button>
          </div>
        </div>
      </div>
  
      <!-- Card 2: Logo da Empresa -->
      <div class="col-md-4 mb-4">
        <div class="card rounded shadow" style="width: 300px; height: 350px;">
          <div class="card-header">
            <h5 class="card-title mb-0">Logo da Empresa</h5>
          </div>
          <div class="card-body d-flex flex-column text-center">
            <!-- Conteúdo -->
            <!-- <p class="card-text">Conteúdo</p> -->
            <img src="../../../assets/img/labScool-logo.png" class="card-img-top custom-img" alt="Logo da Empresa">
            <button class="btn btn-info mt-auto">Editar</button>
          </div>
        </div>
      </div>
  
      <!-- Card 3: Cor Padrão do Sistema -->
      <div class="col-md-4 mb-4">
        <div class="card rounded shadow" style="width: 300px; height: 350px;">
          <div class="card-header">
            <h5 class="card-title mb-0">Cor Padrão do Sistema</h5>
          </div>
          <div class="card-body d-flex flex-column text-center">
            <!-- Conteúdo -->
            <!-- <p class="card-text">Cor Padrão do Sistema atual: <span style="background-color: {{ systemColor }}; color: white;">{{ systemColor }}</span></p> -->
            <button class="btn btn-info mt-auto">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  