<app-header></app-header>
<app-sidebar></app-sidebar>


<br><br><br>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
    <h2 class="text-center mb-4">Cadastro e Edição de Avaliações</h2>

  <div class="mb-3">
    <label for="loadAlunos" class="form-label">Selecionar Aluno:</label>
    <select [(ngModel)]="selectedAlunoId"class="form-control">
      <option *ngFor="let aluno of alunos" [value]="aluno.id">{{ aluno.nome }}</option>
  </select>
  
  </div>

  <form (ngSubmit)="onSave()">

    <div class="mb-3">
      <label for="titulo" class="form-label">Título:</label>
      <input type="text" id="titulo" [(ngModel)]="avaliacao.titulo" name="titulo" class="form-control" required minlength="8" maxlength="64">
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição:</label>
      <textarea id="descricao" [(ngModel)]="avaliacao.descricao" name="descricao" class="form-control" rows="4" required minlength="15" maxlength="255"></textarea>
    </div>

    <div class="mb-3">
      <label for="codigoProfessor" class="form-label">Código do Professor:</label>
      <input type="number" id="codigoProfessor" [(ngModel)]="avaliacao.codigoProfessor" name="codigoProfessor" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="materia" class="form-label">Matéria:</label>
      <input type="text" id="materia" [(ngModel)]="avaliacao.materia" name="materia" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="pontuacaoMaxima" class="form-label">Pontuação Máxima:</label>
      <input type="number" id="pontuacaoMaxima" [(ngModel)]="avaliacao.pontuacaoMaxima" name="pontuacaoMaxima" class="form-control">
    </div>

    <div class="mb-3">
      <label for="nota" class="form-label">Nota:</label>
      <input type="number" id="nota" [(ngModel)]="avaliacao.nota" name="nota" class="form-control">
    </div>

    <div class="mb-3">
      <label for="dataRealizacao" class="form-label">Data de Realização:</label>
      <input type="date" id="dataRealizacao" [(ngModel)]="avaliacao.dataRealizacao" name="dataRealizacao" class="form-control" required>
    </div>

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>
</div>


