<app-header></app-header>
<app-sidebar></app-sidebar>

<br><br><br>
<div class="container my-5">
    <h2 class="text-center mb-4">Detalhamento do Aluno</h2>

    <div class="form-group">
        <label for="Aluno">Aluno:</label>
        <select class="form-control" id="aluno" (change)="onAlunoChanged($event)">
          <option value="" disabled selected>Selecione um aluno</option>
          <option *ngFor="let aluno of alunos" [value]="aluno.id">{{ aluno.nome }}</option>
        </select>
    </div>
    
    
    <div class="card mb-4" *ngIf="alunoSelecionado">
        <div class="card-header">
            Informações do Aluno
        </div>
        <div class="card-body">
            <p><strong>Nome Completo:</strong> {{ alunoSelecionado.nome }}</p>
            <!-- Outras informações do aluno vão aqui. Ajuste de acordo com as propriedades disponíveis em seu modelo de 'User' -->
        </div>
    </div>
    
    <div class="card mb-4" *ngIf="alunoSelecionado && atendimentos.length">
        <div class="card-header">
            Histórico de Atendimentos
        </div>
        <div class="card-body">
            <ul>
                <li *ngFor="let atendimento of atendimentos">{{ atendimento.dataHora }} - {{ atendimento.descricao }}</li>
            </ul>
        </div>
    </div>
    

  
    <div class="card mb-4" *ngIf="alunoSelecionado && exercicios.length">
        <div class="card-header">
            Exercícios
        </div>
        <div class="card-body">
            <ul>
                <li *ngFor="let exercicio of exercicios">{{ exercicio.materia }} em {{ exercicio.dataConclusao }} - {{ exercicio.titulo }}</li>
            </ul>
        </div>
    </div>
    
    <div class="card mb-4" *ngIf="alunoSelecionado && avaliacoes.length">
        <div class="card-header">
            Avaliações
        </div>
        <div class="card-body">
            <ul>
                <li *ngFor="let avaliacao of avaliacoes">{{ avaliacao.materia }} em {{ avaliacao.dataRealizacao }} - Nota: {{ avaliacao.nota }}</li>
            </ul>
        </div>
    </div>
    

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-warning">Editar Histórico</button>
    </div>
</div>