<app-header></app-header>
<app-sidebar></app-sidebar>
<br><br><br>
<div class="container my-5">
  <div class="container">
    <h2 class="text-center mb-4">Cadastro de Exercícios</h2>

    <div class="form-group">
        <label for="aluno">Aluno:</label>
        <select class="form-control" id="aluno" [(ngModel)]="selectedAlunoId">
          <option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</option>
      </select>      
    </div>

    <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" [(ngModel)]="exercicio.titulo" required minlength="8" maxlength="64">
    </div>

    <div class="form-group">
        <label for="descricao">Descrição:</label>
        <textarea class="form-control" id="descricao" [(ngModel)]="exercicio.descricao" required minlength="15" maxlength="255"></textarea>
    </div>

    <div class="form-group">
        <label for="materia">Matéria:</label>
        <input type="text" class="form-control" id="materia" [(ngModel)]="exercicio.materia" required>
    </div>

    <div class="form-group">
        <label for="codigoProfessor">Código do Professor:</label>
        <input type="number" class="form-control" id="codigoProfessor" [(ngModel)]="exercicio.codigoProfessor" required>
    </div>

    <div class="form-group">
        <label for="dataConclusao">Data de Conclusão:</label>
        <input type="date" class="form-control" id="dataConclusao" [(ngModel)]="exercicio.dataConclusao">
    </div>
    <div class="d-flex justify-content-end">
        <button (click)="onSave()" type="submit" class="btn btn-info mx-2 my-2"><i class="fas fa-save"></i> Salvar</button>
        <button type="submit" class="btn btn-danger mx-2 my-2"><i class="fas fa-trash"></i> Deletar</button>
        <button type="submit" class="btn btn-warning mx-2 my-2"><i class="fas fa-edit"></i> Editar</button>
    </div>

    <!--<button (click)="onSave()" class="btn btn-primary">Salvar</button>-->
</div>