<app-header></app-header>
<app-sidebar></app-sidebar>
<br><br><br>
<div class="container my-5">
  <div class="container">
    <h2>Cadastro de Exercícios</h2>

    <div class="form-group">
        <label for="aluno">Aluno:</label>
        <select class="form-control" id="aluno" [(ngModel)]="selectedAlunoId">
          <option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</option>
      </select>      
    </div>

    <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" [(ngModel)]="exercicio.titulo" required minlength="8" maxlength="64">
    </div>

    <div class="form-group">
        <label for="descricao">Descrição:</label>
        <textarea class="form-control" id="descricao" [(ngModel)]="exercicio.descricao" required minlength="15" maxlength="255"></textarea>
    </div>

    <div class="form-group">
        <label for="materia">Matéria:</label>
        <input type="text" class="form-control" id="materia" [(ngModel)]="exercicio.materia" required>
    </div>

    <div class="form-group">
        <label for="codigoProfessor">Código do Professor:</label>
        <input type="number" class="form-control" id="codigoProfessor" [(ngModel)]="exercicio.codigoProfessor" required>
    </div>

    <div class="form-group">
        <label for="dataConclusao">Data de Conclusão:</label>
        <input type="date" class="form-control" id="dataConclusao" [(ngModel)]="exercicio.dataConclusao">
    </div>

    <button (click)="onSave()" class="btn btn-primary">Salvar</button>
</div>