<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="container mt-5 mb-5">
    <div class="row">
        <!-- Card: Total de Alunos -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
            <div class="card text-center p-4 card-with-background" style="margin-top: 70px;">
                <i class="fas fa-user-graduate fa-3x mb-3"></i>
                <h2 class="card-title h4">Total de Alunos</h2>
                <!-- <p class="card-text">{{ totalAlunos }}</p> -->
            </div>
        </div>

        <!-- Card: Total de Exercícios -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
            <div class="card text-center p-4 card-with-background" style="margin-top: 70px;">
                <i class="fas fa-book fa-3x mb-3"></i>
                <h2 class="card-title h4">Total de Exercícios</h2>
                <!-- <p class="card-text">{{ totalExercicios }}</p> -->
            </div>
        </div>

        <!-- Card: Total de Avaliações -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
            <div class="card text-center p-4 card-with-background">
                <i class="fas fa-clipboard-check fa-3x mb-3"></i>
                <h2 class="card-title h4">Total de Avaliações</h2>
                <!-- <p class="card-text">{{ totalAvaliacoes }}</p> -->
            </div>
        </div>

        <!-- Card: Total de Atendimentos -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
            <div class="card text-center p-4 card-with-background">
                <i class="fas fa-headset fa-3x mb-3"></i>
                <h2 class="card-title h4">Total de Atendimentos</h2>
                <!-- <p class="card-text">{{ totalAtendimentos }}</p> -->
            </div>
        </div>
    </div>

    <!-- Lista de Usuários -->
    <div class="mt-5">
        <input type="text" placeholder="Pesquisar por nome, telefone ou CPF" class="form-control mb-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title h4">Lista de Usuários</h2>
                <div class="card my-2">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fas fa-user fa-lg mr-2"></i>
                                <!-- <span>{{ usuario.nomeCompleto }}</span> -->
                            </div>
                            <div>
                                <button class="btn btn-info">Ver Mais</button>
                                <button class="btn btn-secondary">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Lista de Alunos -->
    <div class="mt-5">
        <input type="text" placeholder="Pesquisar por nome, telefone ou CPF" class="form-control mb-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title h4">Lista de Alunos</h2>
                <div class="card my-2">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fas fa-user-graduate fa-lg mr-2"></i>
                                <!-- <span>{{ aluno.nomeCompleto }}</span> -->
                            </div>
                            <div>
                                <button class="btn btn-info">Ver Mais</button>
                                <button class="btn btn-secondary">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

