<ul class="side-menu">
    <li><a href="#"><span class="fa fa-lock"></span>Login</a></li>
    <li><a href="#"><span class="fa fa-home"></span>Pagina Inicial</a></li>
    <li><a href="#"><span class="fa fa-user"></span>Usuário</a></li>
    <li><a href="#"><span class="fas fa-headset fa-2x"></span>Atendimentos</a></li>
    <li><a href="#"><span class="fa fa-book"></span>Exercícios</a></li>
    <li><a href="#"><span class="fa fa-star"></span>Avaliações</a></li>
    <li><a href="#"><span class="fas fa-user-graduate"></span>Alunos</a></li>
    <li><a href="#"><span class="fa fa-history"></span>Logs</a></li>
    <li><a href="#"><span class="fa fa-tag"></span>WhiteLabel</a></li>
    <li><a href="#"><span class="fa fa-power-off"></span>Sair</a></li>
    
</ul>
