<ul class="side-menu">
    <br>
    <li><a (click)="navigateTo('/dashboard')"><span class="fa fa-home"></span>Dashboard</a></li>
    <li><a (click)="navigateTo('/usuarios/criar-editar')"><span class="fa fa-user"></span>Usuário</a></li>
    <li><a (click)="navigateTo('atendimentos/list')"><span class="fas fa-headset fa-2x"></span>Atendimentos</a></li>
    <li><a (click)="navigateTo('/exercicios/edit')"><span class="fa fa-book"></span>Exercícios</a></li>
    <li><a (click)="navigateTo('/avaliacoes/edit')"><span class="fa fa-star"></span>Avaliações</a></li>
    <li><a (click)="navigateTo('/alunos')"><span class="fas fa-user-graduate"></span>Alunos</a></li>
    <li><a (click)="navigateTo('/logs')"><span class="fa fa-history"></span>Logs</a></li>
    <li><a (click)="navigateTo('/white-label')"><span class="fa fa-tag"></span>WhiteLabel</a></li>
    <li><a href="#"><span class="fa fa-power-off"></span>Sair</a></li>
    
</ul>
